on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    mkdir /boot
    mkdir /etc
    mkdir /sdcard
    mkdir /sd-ext
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs   

on early-fs

    # rfs drivers
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko
    insmod /lib/modules/sec_param.ko

on fs
    mount tmpfs tmpfs /tmp
    chmod 0755 /sbin/ext4-fix.sh
    start ext4-fix
    
    mount rfs /dev/stl9 /system check=no
    mount ext4 /dev/stl9 /system wait rw
    mount rfs /dev/stl10 /cache nosuid nodev
    mount ext4 /dev/stl10 /cache wait nosuid nodev

on post-fs
    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0
    write /proc/LinuStoreIII/fsbuild_check BUILDING

on boot
    ifup lo
    hostname localhost
    domainname localdomain

    chmod 0777 /sbin/recovery_setup.sh

# Setup recovery boot
    start recovery_set

on property:recovery.ready=1
    stop recovery_set

    class_start default
    
service ext4-fix /sbin/ext4-fix.sh
    user root
    oneshot
    disabled
    
service recovery_set /sbin/recovery_setup.sh
    user root
    oneshot
    disabled

service ueventd /sbin/ueventd
    critical

#service console /system/bin/sh
#    console

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
	disabled

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
